In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\swetha\anaconda3\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\swetha\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.1)

In [3]:
import mysql.connector

In [5]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  #database='student_db'
  
)

print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001913B95D160>

In [3]:
mycursor.execute("CREATE DATABASE student_db")

In [6]:
mycursor.execute("USE student_db ")

In [7]:
mycursor.execute("CREATE TABLE student_data (id INT(6),name VARCHAR(50),aadhar_no INT(15),parent_name VARCHAR(50),parent_number INT(10))")

In [9]:
mycursor.execute("ALTER TABLE student_data ADD class INT(5) AFTER parent_number")
mydb.commit()

In [15]:
#mycursor.execute("DROP TABLE student_data")

In [10]:
mycursor.execute("ALTER TABLE student_data ADD section VARCHAR(5) AFTER class")
mydb.commit()

In [27]:
mycursor.execute("ALTER TABLE student_data ADD maths INT(10) AFTER section")
mydb.commit()

In [28]:
mycursor.execute("ALTER TABLE student_data ADD science INT(10) AFTER maths")
mydb.commit()

In [29]:
mycursor.execute("ALTER TABLE student_data ADD social INT(10) AFTER science")
mydb.commit()

In [30]:
mycursor.execute("ALTER TABLE student_data ADD English INT(10) AFTER social")
mydb.commit()

In [91]:
mycursor.execute("ALTER TABLE student_data DROP Fee_status")
mydb.commit()

In [92]:
mycursor.execute("ALTER TABLE student_data ADD Fee_status VARCHAR(50) AFTER section")
mydb.commit()

In [38]:
sql="""INSERT INTO student_data(id,name,aadhar_no,parent_name,parent_number,class,section) VALUES(%s,%s,%s,%s,%s,%s,%s)"""

In [39]:
val=("220001",'Ram','9876543210111','Ramesh','9929661','3','A')

In [40]:
mycursor.execute(sql,val)
mydb.commit()

In [37]:
#mycursor.execute("TRUNCATE student_data")
#mydb.commit

In [42]:
val1=[
    ("220002",'Ramya','9876543210112','Govind','9929661','3','A'),
    ("220003",'Raghu','9876543210113','Sri Ram','9929662','3','A'),
    ("220004",'Ravi','9876543210114','Ramesh','9929662','3','A'),
    ("220005",'Rajesh','9876543210115','Balaji','9929662','3','A')
]

In [44]:
mycursor.executemany(sql,val1)
mydb.commit()

In [29]:
mycursor.execute("SELECT * FROM student_data")

In [30]:
data1=mycursor.fetchall()

In [31]:
for row in data1:
    print(row)
    print("")

(220001, 'Ram', 2147483647, 'Ramesh', 9929661, 3, 'A', 'PAID', 100, 100, 90, 88)

(220002, 'Vithika', 2147483647, 'Govind', 9929661, 3, 'A', 'PAID', 100, 99, 98, 97)

(220003, 'Smitha', 12345678, 'Sri Ram', 9929662, 3, 'A', None, 99, 98, 88, 90)

(220004, 'Ravi', 2147483647, 'Ramesh', 9929662, 3, 'A', None, 90, 90, 80, 80)

(220005, 'Rajesh', 12345, 'Balaji', 9929662, 3, 'A', None, 50, 50, 50, 50)

(220007, 'Priya', 123554554, 'Prakash', 2147483647, 3, 'A', None, 34, 34, 34, 34)

(220006, 'Priyanka', 234323543, 'Rajesh', 123435435, 3, 'A', 'PAID', 34, 23, 34, 80)

(220008, 'Likitha', 12345544, 'Raghu', 6374666, 3, 'A', None, 33, 33, 33, 33)

(220009, 'Rithika', 12122423, 'Rahul', 2123434, 3, 'A', None, None, None, None, None)

# Project 1

In [28]:
staff=input("Enter teacher or admin :")
if staff == 'admin' or staff=='Admin' or staff=='ADMIN':
    print("Enter 1 to add student details")
    print("Enter 2 to view student details")
    print("Enter 3 to update student details")
    print("Enter 4 to delete student details")
    enter=input("Select the operation :" )
    if enter =='1':
            id1=input("Enter the Id :")
            name1=input("Enter name of student :")
            aadhar_num1=input("Enter aadhar_no :")
            parent_name1=input("Enter parent name :")
            parent_num1=input("Enter parent  mobile number :")
            class1=input("Enter class:")
            sec1=input("Enter setcion name:")
            sql="""INSERT INTO student_data(id,name,aadhar_no,parent_name,parent_number,class,section) VALUES(%s,%s,%s,%s,%s,%s,%s)"""
            val=(id1,name1,aadhar_num1,parent_name1,parent_num1,class1,sec1)
            mycursor.execute(sql,val)
            mydb.commit()
    elif enter=="2":
            mycursor.execute("SELECT * FROM student_data")
            data1=mycursor.fetchall()
            for row in data1:
                print(row)
                print("")
    elif enter =="3":
        try:
            req_id=input("Enter the corrosponding ID number for updation :")
            mycursor.execute("SELECT * , COUNT(*) FROM student_data where id=%s",(reg_id,))
            print("Enter the numbber to update the required fields")
            print("1:Name"+"\n"+"2:aadhar_no"+"\n"+"3:Parent_name"+"\n"+"4:Parent_number"+"\n"+"5:class"+"\n"+"6:section")
            sel=input("Enter the number")
            if sel=="1":
                    #req_id=input("Enter the corrosponding ID number for updation :")
                    update_val=input("Enter the new value with which the field should be updated :")
                    sql_update=("UPDATE student_data SET name=%s  where id=%s")
                    mycursor.execute(sql_update,(update_val,req_id))
                    mydb.commit()
            elif sel=="2":
                    update_val=input("Enter the new value with which the field should be updated")
                    sql_update="""UPDATE student_data SET aadhar_no=%s  where id=%s"""
                    mycursor.execute(sql_update,(update_val,req_id))
                    mydb.commit()
            elif sel=="3":
                update_val=input("Enter the new value with which the field should be updated")
                sql_update="""UPDATE student_data SET parent_name=%s  where id=%s"""
                mycursor.execute(sql_update,(update_val,req_id))
                mydb.commit()
            elif sel=="4":
                update_val=input("Enter the new value with which the field should be updated")
                sql_update="""UPDATE student_data SET parent_number=%s where id=%s"""
                mycursor.execute(sql_update,(update_val,req_id))
                mydb.commit()
            elif sel=="5":
                update_val=input("Enter the new value with which the field should be updated")
                sql_update="""UPDATE student_data SET class=%s  where id=%s"""
                mycursor.execute(sql_update,(update_val,req_id))
                mydb.commit()
            elif sel=="6":
                update_val=input("Enter the new value with which the field should be updated")
                sql_update="""UPDATE student_data SET section=%s where id=%s"""
                mycursor.execute(sql_update,(update_val,req_id))
                mydb.commit()
            else:
                print("No such operation")
        except:
            print("Registration ID does not exist")
    elif enter=="4":
        try:
            reg_id=input("Enter the corresponding id number for deletion :")
            mycursor.execute("SELECT * , COUNT(*) FROM student_data where id=%s",(reg_id,))
            sql_del=""" DELETE FROM student_data WHERE id=%s"""
            mycursor.execute(sql_del,(reg_no,))
            mydb.commit()
        except:
            print("Registration ID does not exist")
    else:
        print("No such operation")
        
        
elif staff=="teacher" or staff=="Teacher" or staff=="TEACHER":
    print("Enter the required number :")
    print("1:To insert marks"+"\n"+"2:To update marks"+"\n"+"3:Filter failed students from subject ")
    enter=input("Enter required option: ")
    if enter=="1":
        req_no=input("Enter the registration number:")
        maths1=input("Enter maths marks:")
        science1=input("Enter science marks:")
        social1=input("Enter social marks:")
        english1=input("Enter english marks:")
        sql_update="""UPDATE student_data SET maths=%s,science=%s,social=%s,english=%s where id=%s"""
        mycursor.execute(sql_update,(maths1,science1,social1,english1,req_no))
        mydb.commit()
    elif enter=="2":
        reg_no=input("Enter the id to update marks ")
        try:
            mycursor.execute("SELECT * , COUNT(*) FROM student_data where id=%s",(reg_no,))
            print("1:Maths "+"\n"+"2:Science"+"\n"+"3:Social"+"\n"+"4:English")
            op1=input("Select the subject to update marks: ")
            if op1=="1":
                update_val=input("Enter the new value with which the field should be updated:")
                sql_update="""UPDATE student_data SET maths=%s where id=%s"""
                mycursor.execute(sql_update,(update_val,req_no))
                mydb.commit()
            elif op1=="2":
                update_val=input("Enter the new value with which the field should be updated")
                sql_update="""UPDATE student_data SET science=%s where id=%s"""
                mycursor.execute(sql_update,(update_val,req_id))
                mydb.commit()
            elif op1=="3":
                update_val=input("Enter the new value with which the field should be updated")
                sql_update="""UPDATE student_data SET social=%s where id=%s"""
                mycursor.execute(sql_update,(update_val,req_id))
                mydb.commit()
            elif op1=="4":
                update_val=input("Enter the new value with which the field should be updated")
                sql_update="""UPDATE student_data SET english=%s where id=%s"""
                mycursor.execute(sql_update,(update_val,req_id))
                mydb.commit()
            else:
                print("No such operation")
        except:
            print("Reg number doesnt exist")
    elif enter=="3":
        print("1:Maths "+"\n"+"2:Science"+"\n"+"3:Social"+"\n"+"4:English")
        sub=input("Enter the subject:")
        if sub=="1":
            mycursor.execute("SELECT name FROM student_data WHERE maths <35 ")
            data1=mycursor.fetchall()
            for row in data1:
                print(row)
                print("")
        elif sub=="2":
            mycursor.execute("SELECT name FROM student_data WHERE science <35 ")
            data1=mycursor.fetchall()
            for row in data1:
                print(row)
                print("")
        elif sub=="3":
            mycursor.execute("SELECT name FROM student_data WHERE social <35 ")
            data1=mycursor.fetchall()
            for row in data1:
                print(row)
                print("")
        elif sub=="4":
            mycursor.execute("SELECT name FROM student_data WHERE english <35 ")
            data1=mycursor.fetchall()
            for row in data1:
                print(row)
                print("")
        else:
            print("No such operation")
    else:
        print("Invalid Entry")

Enter teacher or admin :admin
Enter 1 to add student details
Enter 2 to view student details
Enter 3 to update student details
Enter 4 to delete student details
Select the operation :1
Enter the Id :220009
Enter name of student :Rithika
Enter aadhar_no :12122423
Enter parent name :Rahul
Enter parent  mobile number :2123434
Enter class:3
Enter setcion nameA

# Project 2 (using GUI)

In [ ]:
enter=input("Admin or teacher :")
if enter=="Admin" or enter=="admin" or enter=="ADMIN":
    print("1.To view all the student details")
    print("2. To update the fee_status using reg_no")
    value=input("Select the requirement: ")
    if value=='1':
        root=Tk()
        root.title("Student_data")
        #root.geometry('600x400')

        mycursor.execute("SELECT * FROM student_data")
        tree=ttk.Treeview(root,selectmode="browse")

        tree["show"]="headings"

        s=ttk.Style(root)
        s.theme_use('clam')

        tree["columns"]=("id","name","aadhar_no","parent_name","parent_number","class","section","Fee_status")

        tree.column("id",width=50,minwidth=50,anchor=tk.CENTER)
        tree.column("name",width=100,minwidth=50,anchor=tk.CENTER)
        tree.column("aadhar_no",width=100,minwidth=100,anchor=tk.CENTER)
        tree.column("parent_name",width=100,minwidth=50,anchor=tk.CENTER)
        tree.column("parent_number",width=100,minwidth=50,anchor=tk.CENTER)
        tree.column("class",width=50,minwidth=50,anchor=tk.CENTER)
        tree.column("section",width=75,minwidth=75,anchor=tk.CENTER)
        tree.column("Fee_status",width=75,minwidth=75,anchor=tk.CENTER)


        tree.heading("id",text="ID",anchor=tk.CENTER)
        tree.heading("name",text="NAME",anchor=tk.CENTER)
        tree.heading("aadhar_no",text="AADHAR_NO",anchor=tk.CENTER)
        tree.heading("parent_name",text="PARENT_NAME",anchor=tk.CENTER)
        tree.heading("parent_number",text="PARENT_NUMBER",anchor=tk.CENTER)
        tree.heading("class",text="CLASS",anchor=tk.CENTER)
        tree.heading("section",text="SECTION",anchor=tk.CENTER)
        tree.heading("Fee_status",text="FEE_STATUS",anchor=tk.CENTER)

        for row in mycursor:
            tree.insert("","end",iid=row[0],values=(row[0],row[1],row[2],row[3],row[4],row[5],row[6],row[7]))


        hsb=ttk.Scrollbar(root,orient="horizontal")
        hsb.configure(command=tree.xview)
        tree.configure(xscrollcommand=hsb.set)
        hsb.pack(fill=X,side=BOTTOM)


        vsb=ttk.Scrollbar(root,orient="vertical")
        vsb.configure(command=tree.yview)
        tree.configure(yscrollcommand=vsb.set)
        vsb.pack(fill=Y,side=RIGHT)


        tree.pack()
        root.mainloop()

    elif value=='2':
        
        root1=Tk()
        root1.title("Fee_details")

        label1=Label(root1,anchor = NW,text=" enter the registration number ",fg="black",font=("Courier",10))
        label1.grid(row=0,column=0,padx=20,pady=20)

        e=Entry(root1,width=50,fg="black",bg="white",borderwidth=3)
        e.grid(row=0,column=2)
        e.insert(0,"") 

        label2=Label(root1,anchor = NW,text=" Enter the updated fee status ",fg="black",font=("Courier",10))
        label2.grid(row=2,column=0,padx=20,pady=20)


        e2=Entry(root1,width=50,fg="black",bg="white",borderwidth=3)
        e2.grid(row=2,column=2)
        e2.insert(0,"") 


        def start1():
            reg_no=e.get()
            update_val=e2.get()
            sql_update="""UPDATE student_data SET Fee_status=%s where id=%s"""
            mycursor.execute(sql_update,(update_val,reg_no))
            mydb.commit()




        Button10=Button(root1,text="Enter",command=start1,width=30)
        Button10.grid(row=5,column=2,padx=40,pady=20)


        root1.mainloop()
        
    else:
        root2=Tk()
        
        label10=Label(root2,anchor = NW,text="Invalid Entry",fg="black",font=("Courier",10))
        label10.grid(row=0,column=0,padx=20,pady=20)

        root2.mainloop()

elif enter=="Teacher" or enter=="teacher" or enter=="TEACHER":
        root=Tk()
        root.title("Teacher")
        #root.geometry('600x400')
        
        label1=Label(root,anchor = NW,text="Enter the registration number to"+"\n"+"view the marks of the student ",fg="black",font=("Courier",10))
        label1.grid(row=0,column=2,padx=20,pady=20)

        label=Label(root,anchor = NW,text="Enter the registration number ",fg="black",font=("Courier",10))
        label.grid(row=1,column=0,padx=20,pady=20)

        e=Entry(root,width=50,fg="black",bg="white",borderwidth=3)
        e.grid(row=1,column=2)
        e.insert(0,"") 


        def start():
            reg_id=e.get()
            sql="""SELECT * FROM student_data where id=%s"""
            mycursor.execute(sql,(reg_id,))
            tree=ttk.Treeview(root,selectmode="browse")

            tree["show"]="headings"

            s=ttk.Style(root)
            s.theme_use('clam')

            tree["columns"]=("id","name","maths","science","social","English")

            tree.column("id",width=50,minwidth=50,anchor=tk.CENTER)
            tree.column("name",width=100,minwidth=50,anchor=tk.CENTER)
            tree.column("maths",width=100,minwidth=50,anchor=tk.CENTER)
            tree.column("science",width=100,minwidth=50,anchor=tk.CENTER)
            tree.column("social",width=100,minwidth=100,anchor=tk.CENTER)
            tree.column("English",width=100,minwidth=50,anchor=tk.CENTER)

            tree.heading("id",text="REG_ID",anchor=tk.CENTER)
            tree.heading("name",text="NAME",anchor=tk.CENTER)
            tree.heading("maths",text="MATHS",anchor=tk.CENTER)
            tree.heading("science",text="SCIENCE",anchor=tk.CENTER)
            tree.heading("social",text="SOCIAL",anchor=tk.CENTER)
            tree.heading("English",text="ENGLISH",anchor=tk.CENTER)

            for row in mycursor:
                tree.insert("","end",iid=row[0],values=(row[0],row[1],row[8],row[9],row[10],row[11]))

            tree.grid(row=2,column=2)



        Button3=Button(root,text="Enter",command=start,width=30)
        Button3.grid(row=1,column=4,padx=40,pady=20)

        root.mainloop()
else:
    print("Invalid Entry")